Canton a analizar: Milagro

Provincia: Guayas

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#conda activate p2-statistics

![dic](dic.png)

In [44]:
micro_1 = pd.read_csv('SBAC19_micro_514852_20200325_CSV.csv', sep=';')
micro_1.drop('codigo', axis=1, inplace=True)

variables = ['financiamiento', 'tp_sexo', 'tp_area', 'isec', 'inev', 'pes', 'imat',
       'ilyl', 'icn', 'ies', 'nl_imat', 'nl_ilyl', 'nl_icn', 'nl_ies',
       'nl_inev']

for variable in variables:
    print(f"Unique values of {variable}:")
    print(micro_1[variable].unique())
    print()

C:\Users\HOME\AppData\Local\Temp\ipykernel_3172\3232250395.py:1: DtypeWarning: Columns (2,22,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  micro_1 = pd.read_csv('SBAC19_micro_514852_20200325_CSV.csv', sep=';')

Unique values of financiamiento:
[     1      2      3 999999]

Unique values of tp_sexo:
[1 2]

Unique values of tp_area:
[ 1  2 98]

Unique values of isec:
[',86847' '-1,14563' ',21734' ... '-,17423' '-,196352309' '-,651073539']

Unique values of inev:
['7,55' '7,5' '5,93' '8,04' '7,86' '8,36' '8,56' '8,44' '8,47' '8,76'
 '8,65' '7,8' '8,82' '9,02' '8,94' '8,18' '8,24' '8,79' '9,17' '9,22'
 '9,08' '8,85' '7,63' '8,88' '8,7' '8,91' '8,99' '9,28' '8,13' '7,75'
 '8,01' '7,53' '7,31' '7,58' '6,79' '7,64' '7,43' '8,07' '7,89' '7,05'
 '7,7' '8,21' '7,92' '9,11' '8,27' '7,81' '7,29' '8,09' '6,41' '7,32'
 '6,73' '7,2' '7,21' '7,78' '7,49' '7,36' '7,35' '6,74' '6,61' '7,52'
 '6,89' '7,48' '7,72' '6,95' '7,15' '7,46' '6,72' '7' '7,44' '6,57' '8,67'
 '8,15' '7,13' '7,69' '7,24' '8,38' '7,18' '6,99' '7,1' '6,71' '7,65'
 '7,66' '6,91' '6,53' '7,03' '6,97' '7,02' '6,98' '7,38' '6,75' '5,59'
 '7,04' '6,9' '6,55' '6,94' '7,27' '999999' '7,84' '7,98' '7,4' '7,28'
 '7,41' '6,36' '6,25' '8,53' '5,27' '7,47' '6,69' '7,16' '7,42' '7,09'
 '6,81' '7,39' '6,93' '7,07' '6,96' '7,61' '6,85' '7,93' '5,61' '7,19'
 '7,06' '7,45' '5,86' '7,3' '8,12' '6,8' '6,84' '6,42' '6,82' '6,49'
 '6,92' '7,17' '8,97' '9,37' '7,95' '9,13' '7,12' '8,62' '8,68' '7,26'
 '8,39' '8,42' '7,33' '7,87' '8,71' '8,33' '8,59' '8,5' '7,23' '6,77'
 '7,01' '9,2' '8,64' '7,11' '8,41' '8,16' '6,26' '7,67' '6,66' '6,78'
 '8,1' '8,96' '9,05' '6,87' '6,5' '6,58' '6,03' '6,54' '8,73' '6,29'
 '6,47' '6,52' '7,25' '6,88' '7,37' '7,73' '9,57' '8,3' '9,51' '9,4' '9,6'
 '9,43' '8,45' '8,48' '8,9' '9,45' '7,96' '7,94' '6,04' '6,86' '6,2'
 '5,53' '6,63' '6,83' '6,3' '5,71' '7,9' '6,46' '9,31' '8,22' '7,08'
 '7,56' '6,62' '6,76' '8,74' '9,14' '9,25' '9,48' '9,68' '9,42' '9,34'
 '9,63' '9,16' '9,8' '9,74' '9,89' '9,54' '9,77' '9,86' '9,97' '8,93'
 '9,19' '9,66' '9,71' '9,65' '7,51' '7,68' '6,7' '6,67' '7,79' '7,14'
 '8,35' '6,68' '5,98' '7,59' '6,65' '7,77' '6,28' '6,4' '6,56' '8,25'
 '6,34' '8,32' '10' '6,64' '8,61' '8,05' '9,83' '7,22' '8,19' '6,43'
 '6,09' '6,15' '7,54' '6,48' '7,88' '6,31' '7,82' '6,19' '7,91' '6,32'
 '6,6' '7,34' '8,31' '7,76' '7,62' '6,44' '6,51' '6,39' '6,37' '6,13'
 '8,02' '9,91' '7,71' '5,83' '7,6' '6,59' '7,74' '8,87' '6,12' '8,58'
 '6,45' '6,33' '8' '8,55' '7,97' '5,91' '7,57' '8,06' '5,55' '6,35' '5,82'
 '5,88' '6,1' '6,17' '6,23' '7,85' '5,96' '9,07' '8,29' '9,1' '8,03'
 '7,83' '8,52' '8,78' '8,84' '5,56' '6,06' '9,56' '9,85' '9,39' '9,33'
 '9,04' '8,49' '8,26' '8,81' '8,23' '6,08' '6,14' '8,2' '5,92' '6,21'
 '5,65' '6,38' '6,01' '6,24' '6,22' '9,36' '7,99' '5,72' '5,99' '5,39'
 '5,77' '5,85' '9,94' '8,11' '5,76' '9,88' '9,53' '6' '8,54' '8,14' '9,62'
 '8,46' '5,87' '8,28' '9,3' '9,59' '4,38' '9,76' '8,37' '8,08' '9,79'
 '5,34' '5,5' '5,24' '6,07' '5,66' '6,27' '8,75' '8,34' '6,18' '5,18'
 '5,8' '5,84' '5,67' '5,94' '6,02' '9,82' '5,6' '9,01' '6,05' '0' '5,63'
 '6,16' '5,02' '5,23' '5,45' '5,44' '8,98' '9,27' '5,79' '5,74' '5,48'
 '5,95' '9,24' '5,73' '8,4' '8,72' '8,43' '5,81' '5,58' '5,9' '5,54'
 '4,91' '8,6' '6,11' '5,46' '5,1' '8,51' '5,08' '8,17' '8,63' '5,47' '5,7'
 '4,96' '5,17' '5,28' '5,75' '4,26' '5,69' '4,85' '5,21' '5,12' '4,97'
 '5,78' '5,13' '5,89' '8,69' '5,38' '4,99' '5,49' '5,07' '4,37' '5,01'
 '4,16' '4,43' '4,21' '5,42' '4,75' '4,48' '5,57' '5,29' '8,57' '5,33'
 '4,42' '5,4' '4' '4,27' '5,51' '5,64' '5,19' '5,97' 999999]

Unique values of pes:
[   610    640    535    706    739    769    763    745    781    718
    787    775    808    757    748    811    730    799    868    859
    817    823    772    667    850    814    826    844    892    862
    697    637    679    625    694    655    646    703    652    580
    691    886    796    709    736    550    598    592    586    604
    676    670    682    556    643    673    607    634    649    658
    619    664    628    568    661    685    574    583    613    616
    688    595    721    577    601    562    511    559    631    589
 999999    712    532    529    565    547    481    715    496    766
    553    700    727    778    835    832    907    877    742    838
    733    841    724    760    754    805    751    571    847    622
    784    790    910    913    883    943    802    901    475    880
    793    820    874    853    922    865    916    856    889    919
    934    949    928    871    973    976    931    937    925    979
    985    904    997    895    898    829    964    955    940   1000
    958    946    544    526    541    517    961    982    970    952
    967    520    538    514    523    502      0    508    487    505
    988    991    994    493    421    478    490    499    472    484
    466    454    469    424    436    451    460    457    409    439
    412    433    463    400    442    430    406    418    427    415
    445]

Unique values of imat:
['7,35' '7' '6,14' '7,92' '8,15' '8,38' '7,58' '8,73' '8,62' '9,42' '8,96'
 '9,31' '9,19' '9,08' '8,5' '8,27' '9,65' '7,69' '8,85' '9,54' '6,36'
 '7,46' '7,81' '8,04' '6,79' '7,23' '6,57' '7,12' '5,93' '999999' '5,71'
 '9,88' '5,29' '4,64' '9,77' '5,5' '10' '4,86' '5,07' '4,21' '4' '4,43'
 999999]

Unique values of ilyl:
['7,69' '8,04' '6,14' '7,92' '8,73' '8,5' '8,62' '7,35' '8,15' '8,85'
 '9,08' '9,31' '9,19' '8,96' '7,23' '7' '7,58' '5,93' '7,81' '7,46' '9,65'
 '8,38' '7,12' '6,79' '6,57' '6,36' '5,71' '8,27' '999999' '5,07' '5,29'
 '9,54' '9,42' '5,5' '9,77' '9,88' '10' '4,86' '4,64' '4' '4,43' '4,21'
 999999]

Unique values of icn:
['7,46' '8,38' '5,71' '8,85' '7,69' '9,08' '8,15' '6,14' '8,62' '9,31'
 '9,54' '7,23' '4,86' '7,92' '7' '6,57' '4' '999999' '5,29' '9,77' '10'
 '4,43' 999999]

Unique values of ies:
['7,69' '6,57' '5,71' '7,46' '7,92' '9,31' '9,08' '8,15' '8,38' '8,85'
 '8,62' '7' '7,23' '9,77' '6,14' '5,29' '4' '999999' '4,43' '9,54' '4,86'
 '10' 999999]

Unique values of nl_imat:
[     1      0      2      3 999999]

Unique values of nl_ilyl:
[     1      2      0      3 999999]

Unique values of nl_icn:
[     1      2      0      3 999999]

Unique values of nl_ies:
[     1      0      2      3 999999]

Unique values of nl_inev:
[     1      0      2 999999      3]

In [45]:
micro_2 = pd.read_csv('SBAC20_micro_272370_20210121_CSV.csv', sep=';')
micro_2.drop('codigo', axis=1, inplace=True)

variables = ['financiamiento', 'tp_sexo', 'tp_area', 'isec', 'inev', 'pes', 'imat',
       'ilyl', 'icn', 'ies', 'nl_imat', 'nl_ilyl', 'nl_icn', 'nl_ies',
       'nl_inev']

for variable in variables:
    print(f"Unique values of {variable}:")
    print(micro_2[variable].unique())
    print()

C:\Users\HOME\AppData\Local\Temp\ipykernel_3172\1851611013.py:1: DtypeWarning: Columns (2,22,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  micro_2 = pd.read_csv('SBAC20_micro_272370_20210121_CSV.csv', sep=';')

Unique values of financiamiento:
[     1      3      2 999999]

Unique values of tp_sexo:
[1 2]

Unique values of tp_area:
[ 2  1 98]

Unique values of isec:
['-,29756' '1,98499' '-1,12751' ... ',73235' '-1,34887' ',2267']

Unique values of inev:
['7,3' '7,22' '7,38' '7,27' '6,69' '7,66' '7,21' '6,92' '7,25' '7,75' '7'
 '6,83' '7,12' '8,32' '6,87' '6,72' '7,19' '6,75' '6,68' '7,06' '7,14'
 '7,15' '7,33' '7,45' '7,36' '7,46' '6,58' '7,02' '7,17' '7,54' '8,74'
 '6,8' '7,05' '999999' '6,33' '7,63' '6,16' '7,64' '7,41' '6,77' '8,85'
 '6,36' '6,88' '6,55' '7,31' '6,85' '7,28' '7,09' '7,08' '6,73' '6,76'
 '7,4' '7,04' '7,59' '7,18' '7,78' '6,53' '7,44' '6,98' '7,74' '6,62'
 '6,56' '7,24' '6,66' '6,37' '6,5' '7,56' '7,77' '6,74' '6,46' '7,61'
 '7,29' '7,93' '6,95' '6,93' '6,78' '7,34' '6,81' '6,99' '7,62' '7,39'
 '7,55' '6,64' '8,08' '7,96' '6,44' '7,49' '7,23' '6,1' '7,47' '7,73'
 '7,26' '7,48' '7,7' '6,57' '6,86' '6,49' '6,71' '7,2' '7,07' '8,05'
 '7,01' '6,94' '7,16' '6,31' '6,08' '6,63' '6,54' '7,65' '8,26' '7,83'
 '8,23' '9,05' '7,76' '7,37' '8,25' '7,72' '8,64' '6,91' '6,35' '6,97'
 '7,42' '9,44' '8,17' '8,72' '9,82' '9,26' '9,18' '8,3' '8,99' '7,58'
 '9,51' '9,77' '8,56' '7,5' '9,63' '9,16' '7,1' '6,89' '8,01' '7,8' '7,89'
 '6,59' '6,7' '8,06' '7,51' '7,71' '6,9' '8,6' '8,47' '7,94' '8,24' '6,96'
 '7,13' '8,76' '9,74' '8,21' '7,32' '7,95' '7,99' '8,18' '8,38' '7,82'
 '6,52' '7,6' '7,86' '8,43' '8,94' '9,15' '7,03' '8,68' '8,96' '7,35'
 '8,28' '9,95' '8,5' '8,15' '7,43' '8,33' '7,53' '8,07' '8,11' '6,48'
 '7,9' '8,52' '7,11' '8,55' '6,09' '6,84' '8,71' '6,82' '8,1' '9,41'
 '8,35' '6,61' '6,34' '7,97' '6,43' '6,27' '5,53' '9,73' '9,59' '9' '8,53'
 '8,51' '9,4' '6,17' '7,57' '6,32' '6,11' '6,4' '6,42' '6,51' '6,38'
 '6,47' '6,41' '8,7' '9,23' '8,9' '9,5' '8,75' '7,81' '7,79' '7,88' '8,54'
 '8,4' '6,6' '8,37' '8,84' '7,85' '8,91' '5,95' '9,65' '7,84' '9,07'
 '8,36' '5,26' '6,26' '7,91' '6,12' '6,29' '6,28' '8,04' '6,39' '9,09'
 '8,45' '9,46' '9,27' '9,04' '8,12' '8,62' '8,31' '8,61' '9,35' '7,92'
 '8,95' '8,82' '9,25' '9,58' '9,48' '9,68' '8,69' '8,03' '8,83' '8,27'
 '9,11' '7,67' '9,66' '9,78' '8,29' '8,42' '9,37' '8,16' '9,86' '9,85'
 '9,67' '8,81' '8,14' '8,66' '9,45' '8,98' '9,47' '9,7' '8,34' '9,28'
 '8,57' '9,56' '9,55' '9,57' '9,42' '8,02' '9,69' '8,87' '9,39' '8,59'
 '9,2' '8,73' '8,41' '9,71' '9,8' '9,17' '9,19' '9,08' '9,36' '7,98'
 '8,63' '9,29' '6,22' '8,97' '5,88' '8,67' '9,53' '8,49' '10' '8,92'
 '9,32' '9,76' '9,43' '9,88' '8,78' '9,14' '9,83' '7,87' '9,01' '8,88'
 '9,9' '9,96' '8,09' '9,3' '9,93' '9,91' '9,54' '8,22' '9,92' '9,87'
 '8,86' '8,93' '9,52' '9,72' '9,22' '9,49' '9,84' '6,06' '8,89' '9,64'
 '7,52' '7,68' '6,65' '9,6' '9,21' '9,24' '6,14' '6,01' '6,25' '6,67'
 '5,38' '5,7' '9,1' '9,61' '6,45' '9,02' '8,77' '6,79' '8' '7,69' '5,75'
 '5,52' '8,8' '6,3' '6,23' '8,13' '9,03' '5,8' '5,65' '9,62' '8,19' '6,07'
 '9,75' '8,79' '8,65' '8,58' '8,39' '8,2' '9,31' '6,19' '8,46' '9,06'
 '6,13' '9,34' '6,21' '5,85' '8,48' '9,97' '9,94' '9,79' '5,36' '5,58'
 '9,12' '9,33' '9,81' '9,13' '6,18' '8,44' '6,15' '6,24' '9,38' '9,89'
 '5,96' '5,98' '6,2' '6,05' '5,64' '6,02' '5,93' '5,99' '6,03' '5,83'
 '5,71' '6,04' '5,68' '5,45' '5,81' '5,31' '5,92' '5,86' '5,67' '5,63'
 '5,13' '5,87' '5,79' '5,94' '5,9' '5,19' '5,72' '5,66' '4,19' '5,29'
 '5,56' '5,73' '6' '5,89' '5,97' '5,91' '5,78' '5,62' '5,82' '5,61' '5,55'
 '4,87' '5,39' '5,84' '5,35' '5,27' '5,18' '5,33' '4,99' '5,6' '4,44'
 '5,77' '5,76' '5,06' '5,59' '5,44' '5,46' '5,74' '5,41' '5,5' '5,22'
 '5,43' '4,81' '5,37' '5,03' '4' '5,51' '5,3' '5,57' '4,79' '5,47' '5,25'
 '4,66' '5,09' 999999 '5,34' '4,8' '5,69' '4,38' '5,16' '5,42']

Unique values of pes:
[   640    635    650    645    600    690    630    615    610    595
    625    775    590    660    675    570    680    825    605 999999
    555    685    560    580    670    840    585    620    700    655
    695    575    725    665    750    730    565    545    705    540
    710    755    875    770    805    930    980    900    890    765
    870    965    800    740    945    895    715    745    810    790
    760    735    820    785    855    880    815    865    995    795
    780    720    830    915    495    940    860    535    835    950
    475    920    910    905    975    990    925    955    850    935
    970    885    960      0    657    525    845   1000    985    530
    485    515    586    520    505    643    671    550    593    728
    490    510    881    664    707    607    629    621    614    636
    500    693    480    410    557    579    543    571    455    470
    514    430    714    721    465    536    686    749    742    400
    450    756    812    819    763    440    784    853    679    529
    564    791    445    420    833    460    415    435    521]

Unique values of imat:
['7,19' '7' '7,38' '6,63' '7,75' '6,25' '7,94' '7,56' '5,88' '8,13' '9,25'
 '8,31' '999999' '9,06' '5,5' '5,13' '8,5' '8,69' '9,63' '9,44' '8,88'
 '9,81' '10' '6,5' '4,75' '7,55' '8,38' '8,09' '4' '4,38' '7,82' '9,45'
 '8,91' '7,27' '8,62' '6' '7,23' '6,14' '5,71' '6,57' '9,77' '4,43' '9,31'
 '7,46' '5,29' '9,08' '7,69' '8,36' '9,18' '7,92' '4,5' '5' '8,64' 999999
 '8,85' '4,86' '9,54']

Unique values of ilyl:
['7,53' '7' '7,71' '5,33' '7,18' '6,67' '8,06' '8,59' '6,33' '7,35' '6'
 '7,88' '8,76' '5' '999999' '9,12' '5,67' '8,24' '8,41' '4,67' '9,82'
 '8,94' '9,65' '9,29' '9,47' '10' '7,19' '7,38' '7,75' '4,33' '8,88' '4'
 '9,06' '7,56' '8,5' '5,5' '8,13' '8,31' '9,63' '4,75' '6,25' '7,94'
 '5,88' '8,69' '9,25' '6,63' '9,81' 999999]

Unique values of icn:
['7,33' '7,56' '7,44' '7,89' '7,22' '7,11' '6,77' '8,11' '7' '6,31' '5,62'
 '7,67' '8' '8,44' '999999' '6,54' '8,56' '6,08' '7,78' '8,33' '8,22'
 '5,38' '8,67' '9,33' '5,85' '9,67' '10' '9,11' '9' '9,22' '9,44' '9,78'
 '8,89' '8,78' '5,15' '9,56' '4,46' '9,89' '7,5' '4,92' '5,5' '6,25'
 '7,17' '6' '4' '6,75' '6,63' '7,36' '6,5' '4,69' '4,23' '7,12' '9,64'
 '8,8' '5,75' '7,24' '7,96' '7,48' '5,88' '8,17' '7,72' '8,5' '7,83'
 '7,84' '8,83' 999999 '5,25' '8,2' '8,08' '5,13']

Unique values of ies:
['7,15' '7,3' '7' '7,45' '7,9' '5,8' '6,1' '8,65' '7,6' '6,4' '6,7' '8,2'
 '8,5' '7,75' '999999' '4,3' '5,5' '8,05' '8,35' '9,7' '9,55' '8,95' '10'
 '9,1' '8,8' '9,4' '5,2' '4' '9,85' '9,25' '8,25' '4,9' '6' '7,27' '4,6'
 '7,25' '7,55' '9' '7,5' '6,5' '8,09' '8,36' '9,73' '7,82' '8,64' '8,75'
 '9,18' '8' 999999 '9,45']

Unique values of nl_imat:
[999999]

Unique values of nl_ilyl:
[999999]

Unique values of nl_icn:
[999999]

Unique values of nl_ies:
[999999]

Unique values of nl_inev:
[999999]

In [32]:
micro_milagro = micro[micro["id_cant"] == 901]

columns_to_drop = ['ciclo', 'amie', 'nm_regi', 'es_regeva', 'id_zona', 'id_dist', 'id_circ', 'id_prov', 'id_cant', 'id_parr']
micro_milagro.drop(columns_to_drop, axis=1, inplace=True)

to_drop = ["tp_sost", "na_eano", "etnibbe", 'discapacidad', 'quintil', 'poblacion', 'estado', "deshonestidad"]
micro_milagro.drop(to_drop, axis=1, inplace=True)
micro_milagro

C:\Users\HOME\AppData\Local\Temp\ipykernel_3172\4249648222.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_milagro.drop(columns_to_drop, axis=1, inplace=True)
C:\Users\HOME\AppData\Local\Temp\ipykernel_3172\4249648222.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  micro_milagro.drop(to_drop, axis=1, inplace=True)

,financiamiento,tp_sexo,tp_area,isec,inev,pes,imat,ilyl,icn,ies,nl_imat,nl_ilyl,nl_icn,nl_ies,nl_inev
23160,1,1,2,",77707","6,39",565,"6,63","6,33","7,11","5,5",999999,999999,999999,999999,999999
23161,1,1,2,"-,80712","7,64",685,"7,56","7,35","7,44","8,2",999999,999999,999999,999999,999999
23162,1,1,2,",92683","6,91",600,7,"6,33",7,"7,3",999999,999999,999999,999999,999999
23163,1,2,2,"-1,73878","7,06",635,"7,19",6,"7,89","7,15",999999,999999,999999,999999,999999
23164,1,1,2,"-1,03549","8,18",755,"8,5","8,06","8,11","8,05",999999,999999,999999,999999,999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272128,999999,1,2,",92683",999999,565,999999,999999,999999,999999,999999,999999,999999,999999,999999
272193,999999,1,2,"1,2552",999999,570,999999,999999,999999,999999,999999,999999,999999,999999,999999
272256,999999,2,2,"-1,52631",999999,645,999999,999999,999999,999999,999999,999999,999999,999999,999999
272261,999999,2,2,",05",999999,615,999999,999999,999999,999999,999999,999999,999999,999999,999999
272344,999999,1,2,999999,999999,999999,999999,999999,999999,999999,999999,999999,999999,999999,999999

In [33]:
micro_milagro.columns

Index(['financiamiento', 'tp_sexo', 'tp_area', 'isec', 'inev', 'pes', 'imat',
       'ilyl', 'icn', 'ies', 'nl_imat', 'nl_ilyl', 'nl_icn', 'nl_ies',
       'nl_inev'],
      dtype='object')

In [34]:
micro_milagro.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64698 entries, 23160 to 272344
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   financiamiento  64698 non-null  int64
 1   tp_sexo         64698 non-null  int64
 2   tp_area         64698 non-null  int64
 3   isec            64698 non-null  object
 4   inev            64698 non-null  object
 5   pes             64698 non-null  int64
 6   imat            64698 non-null  object
 7   ilyl            64698 non-null  object
 8   icn             64698 non-null  object
 9   ies             64698 non-null  object
 10  nl_imat         64698 non-null  int64
 11  nl_ilyl         64698 non-null  int64
 12  nl_icn          64698 non-null  int64
 13  nl_ies          64698 non-null  int64
 14  nl_inev         64698 non-null  int64
dtypes: int64(9), object(6)
memory usage: 7.9+ MB

In [35]:
variables = ['financiamiento', 'tp_sexo', 'tp_area', 'isec', 'inev', 'pes', 'imat',
       'ilyl', 'icn', 'ies', 'nl_imat', 'nl_ilyl', 'nl_icn', 'nl_ies',
       'nl_inev']

for variable in variables:
    print(f"Unique values of {variable}:")
    print(micro_milagro[variable].unique())
    print()

Unique values of financiamiento:
[     1      2      3 999999]

Unique values of tp_sexo:
[1 2]

Unique values of tp_area:
[2 1]

Unique values of isec:
[',77707' '-,80712' ',92683' ... ',3364' '1,19369' ',31248']

Unique values of inev:
['6,39' '7,64' '6,91' '7,06' '8,18' '6,75' '7,56' '7,62' '6,18' '7,23'
 '7,27' '6,71' '7,5' '6,87' '8,23' '8,22' '7,12' '7,17' '6,85' '7,31'
 '7,41' '7,74' '7,2' '7,24' '6,84' '6,77' '7,38' '6,76' '7,43' '7,91'
 '8,58' '7,32' '7,33' '7,73' '8,78' '6,94' '9,31' '7,1' '6,6' '7,65'
 '7,11' '7,7' '7,59' '7,79' '8,06' '7,86' '7,51' '7,69' '7,81' '8,05'
 '7,29' '7,76' '6,82' '6,48' '8,11' '7,09' '8,57' '8,03' '8,14' '7,71'
 '9,08' '7,14' '9,28' '6,66' '7' '6,96' '7,37' '6,69' '6,37' '9,3' '7,44'
 '7,15' '7,49' '7,52' '7,35' '7,53' '9,27' '8,97' '7,25' '7,61' '6,78'
 '7,45' '6,98' '6,68' '7,47' '7,21' '6,7' '6,57' '7,4' '8,29' '7,92'
 '6,89' '7,05' '6,83' '7,46' '6,02' '6,97' '9,37' '7,04' '7,48' '7,34'
 '6,72' '8,61' '8,4' '6,24' '6,81' '7,75' '7,55' '6,95' '7,6' '7,97'
 '6,99' '7,26' '9,01' '6,92' '7,95' '8,62' '6,23' '8,07' '7,3' '9,32'
 '9,72' '5,79' '7,54' '6,67' '8,26' '7,82' '8,66' '8,84' '8,79' '6,86'
 '7,57' '8,68' '9,15' '8,53' '8,17' '8,01' '7,68' '8,42' '8,88' '7,9'
 '7,99' '7,13' '8,2' '7,18' '6,73' '7,28' '7,22' '7,94' '8,49' '6,44'
 '7,01' '8,91' '6,5' '8,19' '9,87' '6,64' '6,41' '8,51' '8,12' '7,66'
 '6,54' '7,78' '7,58' '7,39' '6,63' '7,07' '6,34' '6,47' '7,16' '9,29'
 '9,09' '9,33' '8,6' '9,03' '8,96' '7,96' '9,44' '9,4' '9,49' '8,86'
 '8,75' '9,36' '9,47' '8,52' '9,48' '7,93' '8,55' '8,63' '9,04' '8,41'
 '9,12' '9,34' '9,1' '8,92' '9,88' '9,53' '8,27' '9,66' '9,77' '8,8'
 '8,59' '8,35' '9,52' '8,65' '9,67' '8,81' '9,86' '9,7' '8,54' '9,82'
 '9,61' '6,9' '6,28' '6,61' '6,45' '6,07' '5,97' '7,87' '6,56' '6,42'
 '6,65' '6,21' '8,48' '6,93' '999999' '7,88' '8,3' '8,85' '7,08' '8,46'
 '9,51' '7,8' '8,25' '6,58' '9,17' '7,77' '8,04' '7,63' '7,03' '6,8'
 '7,02' '6,74' '6,36' '6,52' '7,42' '8,9' '9,02' '8,43' '8,08' '8,09'
 '9,14' '6,88' '8,95' '8,67' '8,37' '9,22' '6,15' '6,62' '6,53' '6,43'
 '6,79' '6,13' '7,36' '7,72' '6,46' '6,49' '8,16' '6,25' '6,22' '8,28'
 '6,4' '6,31' '8,74' '9,16' '8,72' '7,83' '9,39' '7,19' '8,45' '9,41'
 '9,62' '9,78' '7,84' '9,24' '8,99' '8,21' '8,32' '7,98' '8,5' '6,27'
 '9,05' '8,89' '8,77' '8,1' '9,06' '9' '8,13' '8,39' '8,56' '6,55' '6,51'
 '7,89' '6,32' '6,08' '8,33' '7,85' '8,02' '8,24' '6,59' '8,98' '8,76'
 '9,5' '9,76' '8,93' '6,3' '9,83' '9,6' '7,67' '9,2' '8,69' '8,47' '9,94'
 '9,13' '8,87' '8,15' '8' '9,46' '9,68' '9,54' '8,83' '8,73' '9,35' '9,89'
 '9,57' '8,71' '9,07' '9,79' '9,56' '5,82' '8,38' '6,17' '5,99' '6,19'
 '9,38' '6,14' '5,98' '5,61' '9,18' '6,16' '6,35' '5,55' '8,36' '8,94'
 '6,04' '6,09' '9,19' '8,44' '6,33' '9,84' '6,26' '9,69' '9,71' '9,81'
 '9,42' '8,31' '6' '9,45' '9,63' '9,59' '5,89' '6,29' '5,67' '8,34' '9,74'
 '9,96' '9,26' '9,95' '9,75' '9,8' '9,64' '9,65' '8,82' '9,73' '9,97'
 '9,21' '6,03' '5,45' '6,38' '4,87' '6,2' '9,11' '6,11' '5,95' '9,91'
 '9,58' '9,55' '8,7' '5,71' '6,01' '6,12' '9,25' '9,9' '5,94' '6,06'
 '5,93' '9,93' '5,88' '9,85' '9,92' '8,64' '5,66' '9,23' '5,96' '9,43'
 '5,39' '5,92' '6,1' '5,84' '5,13' '6,05' '5,35' '5,83' '5,27' '10' '5,8'
 '5,73' '5,18' '5,85' '5,75' '5,91' '5,9' '5,33' '4,99' '5,86' '5,87'
 '5,6' '5,7' '4,44' '5,77' '5,81' '5,72' '5,41' '5,36' '5,5' '5,22' '5,58'
 '5,43' '4,81' '5,37' '5,03' '5,59' 999999 '5,78' '5,64' '5,34' '4,8'
 '5,47' '5,69' '4,38' '5,68' '5,42']

Unique values of pes:
[   565    685    600    635    755    590    675    680    545    630
    640    660    610    750    625    595    650    695    645    615
    665    720    800    655    835    905    620    690    710    730
    700    705    740    605    735    880    895    585    715    900
    560    670    890    850    570    580    785    725    535    915
    745    810    543    865    550    795    960    520    760    815
    845    820    830    860    875    870    575    980    805    855
    920    910    935    775    765    930    770    840    985    925
    955    970    975    950    945 999999    571    555    780    825
    540    940    965    790    885    990    525    530    515    505
    500    995    495    455    490    470    480   1000    579      0
    671    510    514    607    629    430    714    721    636    664
    485    475    614    593    465    440    643    586    445    420
    564    621    679    435    521]

Unique values of imat:
['6,63' '7,56' '7' '7,19' '8,5' '7,38' '7,94' '8,31' '8,88' '6,25' '7,75'
 '9,06' '9,63' '5,88' '8,13' '8,69' '9,44' '4,43' '5,5' '9,25' '9,81' '10'
 '5,13' '999999' '5,71' '4,75' '4,38' '4' '6,57' '9,31' '7,46' '5,29'
 '6,14' '6' '7,82' '7,55' 999999 '8,85' '4,86' '7,23' '4,5']

Unique values of ilyl:
['6,33' '7,35' '6' '8,06' '6,67' '7,88' '8,41' '5,67' '7,53' '8,76' '8,24'
 '7,18' '7' '5,33' '7,71' '9,12' '9,29' '9,65' '5' '8,59' '9,82' '8,94'
 '4,67' '10' '9,47' '8,13' '999999' '4,33' '4' '5,5' '7,38' '9,63' '4,75'
 '6,25' '7,75' '9,06' '7,94' 999999 '8,5' '9,25']

Unique values of icn:
['7,11' '7,44' '7' '7,89' '8,11' '7,22' '7,67' '6,54' '7,33' '8' '6,77'
 '7,56' '7,78' '8,22' '8,89' '9,44' '9,33' '9' '5,85' '8,67' '8,56' '8,44'
 '8,33' '6' '6,08' '6,31' '9,56' '9,22' '8,78' '9,67' '5,62' '9,11' '10'
 '9,89' '9,78' '999999' '6,25' '5,15' '5,38' '4,69' '4,92' '4,46' '4'
 '8,8' '5,75' '7,24' '7,96' '7,48' '6,75' 999999 '7,36' '7,84' '5,25'
 '4,23' '6,63']

Unique values of ies:
['5,5' '8,2' '7,3' '7,15' '8,05' '6,1' '7,9' '7' '5,2' '7,45' '6,7' '7,6'
 '8,5' '7,75' '6,4' '8,35' '8,65' '8,8' '5,8' '9,7' '8,95' '9,4' '9,25'
 '4,3' '9,1' '10' '4,9' '9,55' '9,85' '999999' '7,55' '4,6' '4' '7,82'
 '8,64' '8,09' '7,25' '8,36' '7,5' 999999 '9,45' '6,5' '7,27']

Unique values of nl_imat:
[999999]

Unique values of nl_ilyl:
[999999]

Unique values of nl_icn:
[999999]

Unique values of nl_ies:
[999999]

Unique values of nl_inev:
[999999]

In [36]:
micro_milagro.describe()

,financiamiento,tp_sexo,tp_area,pes,nl_imat,nl_ilyl,nl_icn,nl_ies,nl_inev
count,64698.000000,64698.000000,64698.000000,64698.000000,64698.0,64698.0,64698.0,64698.0,64698.0
mean,296238.611735,1.481483,1.973291,54067.168970,999999.0,999999.0,999999.0,999999.0,999999.0
std,456599.627896,0.499661,0.161232,224745.901967,0.0,0.0,0.0,0.0,0.0
min,1.000000,1.000000,1.000000,0.000000,999999.0,999999.0,999999.0,999999.0,999999.0
25%,1.000000,1.000000,2.000000,610.000000,999999.0,999999.0,999999.0,999999.0,999999.0
50%,2.000000,1.000000,2.000000,650.000000,999999.0,999999.0,999999.0,999999.0,999999.0
75%,999999.000000,2.000000,2.000000,720.000000,999999.0,999999.0,999999.0,999999.0,999999.0
max,999999.000000,2.000000,2.000000,999999.000000,999999.0,999999.0,999999.0,999999.0,999999.0

In [37]:
micro_milagro.columns

Index(['financiamiento', 'tp_sexo', 'tp_area', 'isec', 'inev', 'pes', 'imat',
       'ilyl', 'icn', 'ies', 'nl_imat', 'nl_ilyl', 'nl_icn', 'nl_ies',
       'nl_inev'],
      dtype='object')